Repository larivierec/aws-es-proxy, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

enable fork processing + add renovate.json
  renovate.json
Labels: none

update calls to use mongodb v2 driver
  aws-es-proxy.go
  go.sum
Labels: area/go

remove renovate
  .github/workflows/renovate.yaml
Labels: area/ci

add permissions to ci/release
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

add permissions to ci/release
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

add permissions to ci/release (#67)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

replace logrus (2020) with zap
  aws-es-proxy.go
  go.mod
  go.sum
Labels: area/go

validate url
  aws-es-proxy.go
Labels: area/go

update ci to `only-fixed` + update to go 1.25.6
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  go.mod
Labels: area/ci, area/go

Validate URL for forgery (#230)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  aws-es-proxy.go
  go.mod
Labels: area/ci, area/go

add `endpoint` parameter
  aws-es-proxy.go
  validation_test.go
Labels: area/go

ssl issues
  Dockerfile
  aws-es-proxy.go
Labels: area/go

remove install command
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

add `endpoint` parameter (#385)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  aws-es-proxy.go
  validation_test.go
Labels: area/ci, area/go

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/go:
  - changed-files:
      - any-glob-to-any-file: "*.go"
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
